<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app requires permission to fetch picture for sending picture.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app requires permission to fetch picture for sending picture.</string>
    <key>NSCameraUsageDescription</key>
    <string>App need to access your camera for setting user profile picture.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>The app requires permission to fetch location for sending location. </string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>The app requires permission to fetch location for sending location. </string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The app requires permission to fetch location for sending location. </string>
</dict>
</plist>
